.contentContainer{
  background: lightblue;

}

.homeStyle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 100%;
}
.homeStyle h1{
  color: rgb(106, 197, 31);
}